<p id="notice"><%= notice %></p>
<!--
<p>
  <h3>Follower Id:</h3>
  <strong><%= @follower.follower_id %></strong>
</p>
-->
<p>
  <h3><strong>Follower User Name:</strong></h3>
  <strong><%= @follower.user.first_name %></strong>
</p>
<p>
  <h3><strong>Followed User names:</strong></h3>
  <p>
  <% @followed.each do |user| %>
    <strong><%= user.first_name %></strong>
    	<ul>
        <% user.boards.each do |board| %>
        <li>
          <a href="/boards/<%=board.id%>"><%=board.name %></a> 
        </li>
      </ul>
    <% end %>
  </p>
  <% end %>          
</p>

<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>